<launch>
  <arg name="config" default="$(find autonomy_navigation)/config/navigation.yaml"/>
  <arg name="start_cloud_to_scan" default="true"/>
  <arg name="start_safety_guard" default="true"/>
  <arg name="start_mission_manager" default="true"/>

  <rosparam command="load" file="$(arg config)"/>

  <node if="$(arg start_cloud_to_scan)"
        pkg="autonomy_navigation"
        type="cloud_to_scan.py"
        name="cloud_to_scan"
        output="screen"/>

  <node if="$(arg start_safety_guard)"
        pkg="autonomy_navigation"
        type="safety_guard.py"
        name="safety_guard"
        output="screen"/>

  <node if="$(arg start_mission_manager)"
        pkg="autonomy_navigation"
        type="mission_manager.py"
        name="mission_manager"
        output="screen"/>
</launch>
